header.great-header {
    color: #333;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5
}

.great-header .scoped-search .form-control.focus .header-search-scope {
    color: #4078c0;
    background-color: #edf2f9;
    border-color: #c6d7ec;
}

.great-header .read-only-mode-banner {
    background-color: #f8e45f;
    border-bottom-color: #f6dc2e
}

.great-header .header-logo-invertocat, .great-header .header-logo-wordmark {
    color: #555
}

.great-header .notification-indicator {
    color: #4078c0;
}

.great-header .notification-indicator .mail-status {
    color: #fff;
    background-image: -webkit-linear-gradient(#7aa1d3, #4078c0);
    background-image: linear-gradient(#7aa1d3, #4078c0);
    border: 2px solid #f3f3f3
}

.great-header .notification-indicator:hover .mail-status {
    background-color: #4078c0;
    /* background-image: linear-gradient(#4078c0, #4078c0); */
}

header.great-header .header-search-scope {
    font-size: inherit;
    color: #767676;
    border-right: 1px solid #eee;
}

.great-header .scoped-search .form-control.focus .header-search-scope {
    color: #4078c0;
    background-color: #edf2f9;
    border-color: #c6d7ec
}

.great-header .HeaderNavlink {
    color: #555
}
.great-header .HeaderNavlink:hover,
.great-header .HeaderNavlink:focus {
    color: #4078c0
}

/* The original Github CSS made the logo blue on hover.  The new Github CSS leaves the logo unchanged on hover. */
/* We will soften the dark grey logo on hover.  This appears more consistent with the light grey logo in the footer. */
.great-header .header-logo-invertocat:hover,
.great-header .header-logo-wordmark:hover {
    color: #333;
    opacity: 0.8;
}

.great-header .HeaderNavlink:hover .dropdown-caret, .great-header .HeaderNavlink:focus .dropdown-caret {
    border-top-color: #4078c0
}

.great-header .header-search {
    font-size: 14px
}

.great-header .header-search-wrapper {
    background: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    border: 1px solid #ddd;
    font-size: 14px;
    min-height: 0;
}

.great-header .header-search-wrapper.focus {
    background: #fff;
    border-color: #51a7e8;
    outline: none;
    color: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 5px rgba(81, 167, 232, .5);
}

.great-header .header-search-scope {
    font-size: 12px;
    line-height: inherit;
    min-height: 0;
}

.great-header .header-search-input {
    min-height: 26px;
}

.great-header .header-search-input::-webkit-input-placeholder,
.great-header .header-search-input::placeholder {
    color: rgba(0,0,0,.5)
}

.great-header .form-control {
    color: #333 !important;
    background-color: #fff !important;
}

.great-header *::-webkit-input-placeholder {
    color: #767676 !important;
}
.great-header *:-moz-placeholder {
    /* FF 4-18 */
    color: #767676 !important;
}
.great-header *::-moz-placeholder {
    /* FF 19+ */
    color: #767676 !important;
}
.great-header *:-ms-input-placeholder {
    /* IE 10+ */
    color: #767676 !important;
}

/* The logo and text used to be darker */
.great-header .HeaderNavlink,
.great-header .header-logo-invertocat, .great-header .header-logo-wordmark {
    color: #333;
}
/* The search box had a gentle border */
header.great-header .header-search-wrapper {
    border: 1px solid #ddd;
}
/* The selector next to the search box was just plain white (now fixed above) */
/*
.great-header .header-search-scope {
    background-color: white;
}
*/

/* According to my Firefox, the header did not used to be so tall */
/* Some people might not want to go back to a short header, so I have made this a separate class.  Add it for a more faithful classic look. */
header.short-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* The logo was smaller */
.short-header .header-logo-invertocat .octicon-mark-github {
    padding: 2px;
}

/* The search box was also less tall */
header.short-search-box .header-search {
    margin-top: 1px;
}
header.short-search-box .header-search-scope {
    line-height: 26px;
}
header.short-search-box .header-search-wrapper,
header.short-search-box .header-search-input {
    min-height: 26px;
}
/* The text to the right of the search box*/
.short-search-box .HeaderNavlink {
    font-size: 13px;
}
