/* Links */

.great-again #issues a,
.great-again #pull-requests a,
.great-again .ajax-pagination-form a,
.great-again .alert a,
.great-again .blankslate a,
.great-again .contrib-footer a,
.great-again .form-group a,
.great-again .js-plan-choice-label a,
.great-again .js-repo-filter h3 a,
.great-again .markdown-body a:not(.user-mention):not(.team-mention),
.great-again .menu a,
.great-again .meta-search-links a,
/* Links inside the change summary of a submodule in diff view */
.great-again .js-file-content .data.highlight.empty a,
/* The link "Only those with write access" on open PR of other projects */
.great-again .status-meta a,
.great-again .mini-repo-list a,
.great-again .more-repos a,
.great-again .more-repos-link a,
.great-again .news .text-center a,
.great-again .numbers-summary a:hover,
.great-again .pagination a,
.great-again .pinned-repo-item-content .d-block a,
.great-again .profile-rollup-content>li>div>a:first-child,
.great-again .profile-rollup-content>li>span>a,
.great-again .protip a,
.great-again .repo-list a,
.great-again .repohead-details-container>h1 a,
.great-again .repository-meta-content a,
.great-again .site-footer a,
.great-again .tos-info a,
.great-again .vcard-details a,
.great-again a.aname,
.great-again a.link-gray-dark:hover,
.great-again a.muted-link:hover,
.great-again table.files td.message a:hover,
.great-again td.content a,
.great-again ul.simple-conversation-list.varied-states a,
/* Link to issue from commit-tease on front-page */
.great-again .commit-tease a.issue-link,
/* PR id in PR page */
.great-again .gh-header-title .js-issue-title a,
/* Titles and download links on the /releases page */
.great-again .release-title a,
.great-again .release-downloads a,
/* Link to content on the /graphs/traffic page */
.great-again .repository-content .capped-list-label a,
/* Links to members on the the /network/members page */
.great-again .network .repo a,
/* Links to members on the /org/.../people page */
.great-again .member-info a,
/* Links to Wiki pages */
.great-again a.wiki-page-link {
    color: #4078c0;
}

.great-again .ajax-pagination-form .ajax-pagination-btn,
.great-again .btn-invisible,
.great-again .btn-outline,
.great-again .member-badge,
.great-again .page-new-repo .license-info,
.great-again button.muted-link:hover,
.great-again .discussion-sidebar-toggle:hover {
    color: #4078c0;
}

/* We accidentally overrode this above */
.great-again .menu-item.selected {
    color: #24292e;
}

/* Hovered circles on the /graphs/punch-card page */
.great-again circle.day:hover {
    fill: #4078c0;
}
