/* Links */
.great-again [role=main] a:not(.btn):not(.social-count):not(.reponav-item):not(.message):not(.commit-author):not(.user-mention):not(.commit-tease-sha):not(.issues-reset-query):not(.subnav-item):not(.author):not(.timestamp),
.great-again .btn-outline {
    color: #4078c0;
}
/* I can't remember why I added this, but I've disabled it now so that it doesn't turn the issue counts blue ("5 Open 12 Closed" at the top of the Issues page) */
/* .great-again .btn-link, */

/* This is the "125 commits, 1 branch, 28 releases, ..." above the file listing on each repo home page. */
/* The rule above accidentally styles these, but the new theme changed it too, so either way we need to redefine it. */
/* (There are actually more details in the <svg> and .text-emphasized which changed, but I didn't bother to restore them.) */
/* We use !important because the rule above is too specific to override easily! */
.great-again .numbers-summary a {
    color: #767676 !important;
}

/* Our link styling above will break the hovered branch in the "Switch branches/tags" dropdown. */
/* Again we need !important because the above rule is difficult to override. */
.great-again .select-menu-item.navigation-focus,
.great-again .select-menu-item.navigation-focus.selected,
.great-again .select-menu-item.navigation-focus.select-menu-action,
.great-again .select-menu-item.navigation-focus .description-inline {
    color: #fff !important;
}

.great-again table.files td.icon .octicon-file-directory {
    color: #4078c0;
}

.great-again .flash {
    background-color: #f2f9fc;
}

/* Text in the file listing table */
/* The new design has made these darker (#6a737d) */
.great-again table.files td.message a,
.great-again table.files td.age {
    color: #888;
}

/* File icons in the file listing table (used to be grey, new theme makes them blue) */
.great-again table.files td.icon {
    color: #767676;
}

/* The repo description at the top of the repo home page */
.great-again .repository-meta {
    color: #666;
}

/* The pager on the Forks page: "Contributors, Commits, Code frequency, ..." */
.great-again .subnav-item.selected,
.great-again .subnav-item.selected:hover,
.great-again .subnav-item.selected:focus {
    background-color:#4078c0;
    border-color:#4078c0
}
