/* red */
.state-closed, .block-diff-deleted,
.discussion-item-closed .discussion-item-icon {
  background-color: #bd2c00 !important;
}
.text-red {
  color: #bd2c00 !important;
}
/* green */
.state-open, .completeness-indicator-success,
.branch-action-state-clean .branch-action-icon,
.discussion-item-reopened .discussion-item-icon {
  background-color: #6cc644 !important;
}
.block-diff-added {
  background-color: #55a532 !important;
}
.btn-primary {
  background-image: linear-gradient(#91dd70, #55ae2e) !important;
}
.text-green {
  color: #6cc644 !important;
}
.branch-action-state-clean .branch-action-body {
  border-color: #95c97e !important;
}
/* blue */
a {
  color: #4078c0; /* do not mark important */
}
.emoji, .btn-outline, .message:hover, .muted-link:hover, .title-link:hover,
.btn-octicon:hover, .menu-target:hover, .social-count:hover,
.tabnav-extra:hover, .toolbar-item:hover, .discussion-item-help:hover {
  color: #4078c0 !important;
}
.btn-outline:hover, .diff-expander:hover, .dropdown-item:hover,
.ellipsis-expander:hover {
  color: #fff !important;
  background-color: #4078c0 !important;
}
.add-line-comment {
  background-image: linear-gradient(#5386c6, #4078c0) !important;
}
/* purple */
.state-merged, .discussion-item-merged .discussion-item-icon {
  background-color: #6e5494 !important;
}
